@font-face {
  font-family: Gloom;
  src: url(./assets/fonts/PirataOne-Gloomhaven.ttf);
}

body,
html {
  background: #333;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: Gloom;
  color: white;
}

main {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 200px;
  margin: 10px;
}

#drawing-deck {
  position: relative;
  z-index: 1;
}

#total-cards {
  position: absolute;
  bottom: 12px;
  right: 16px;
  color: white;
  font-family: Arial;
  font-size: 16px;
}

#draw {
  cursor: pointer;
  border: 4px solid transparent;
  transition: all 150ms;
}

#draw:hover {
  border-color: white;
}

#shuffle-deck {
  color: red;
  position: absolute;
  left: 34%;
  bottom: -25px;
  font-family: Gloom;
  font-size: 28px;
}

#draw.needs-shuffle,
#draw.needs-shuffle:hover {
  border-color: red;
}

#placeholder {
  width: 240px;
}

#placeholder img {
  border: 4px solid transparent;
  transition: all 150ms;
}

#placeholder img:hover {
  opacity: 1 !important;
}

#placeholder img:nth-child(2) {
  opacity: 0.9;
}
#placeholder img:nth-child(3) {
  opacity: 0.8;
}
#placeholder img:nth-child(4) {
  opacity: 0.7;
}
#placeholder img:nth-child(5) {
  opacity: 0.6;
}
#placeholder img:nth-child(6) {
  opacity: 0.5;
}
#placeholder img:nth-child(7) {
  opacity: 0.4;
}
#placeholder img:nth-child(8) {
  opacity: 0.3;
}
#placeholder img:nth-child(9) {
  opacity: 0.3;
}
#placeholder img:nth-child(n + 9) {
  opacity: 0.2;
}

section {
  display: flex;
  width: 500px;
  justify-content: space-around;
  align-items: flex-start;
}

button {
  margin: 4px;
  outline: 4px solid #333;
  border: 2px solid #333;
  cursor: pointer;
  background-color: #333;
  font-family: Gloom;
  font-size: 24px;
  color: white;
  letter-spacing: 0.5px;
  transition: all 150ms;
}

button:hover {
  border-color: white;
}

.added-card {
  z-index: -1;
  animation: slide-in 1.5s;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
    display: none;
  }
}
